<div class="vue-controls-incrementer" nid="{{ nid }}" score="{{ score }}">
  <span>${ score }</span>
  <div>
    <span @click="decreaseScore">-</span>
    <span @click="increaseScore">+</span>
  </div>
</div>
